* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #1f1f1f;
}
/* header css */
.container {
  width: 100%;
}
.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
}
.right-nav {
  display: flex;
}
.left-nav #logo {
  width: 20%;
  color: rgb(255, 255, 255);
  padding: 0 30px;
  margin-top: 10px;
  cursor: pointer;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 72px;
  color: #ffffff;
}
.center-nav {
  width: 60%;
  background: #262626;
  display: flex;
  align-items: center;
  border-radius: 15px;
  padding: 5px;
}
.center-nav form {
  width: 100%;
}
.center-nav input {
  width: 100%;
  background: #262626;
  flex: 1;
  border: 0;
  outline: none;
  padding: 10px;
  font-size: 24px;
  color: #ffffff;
}
.right-nav {
  margin: 20px;
}
.right-nav .button {
  text-decoration: none;
  display: inline-block;
  cursor: pointer;

  border: none;
  color: white;
  width: 150px;
  padding: 10px;
  margin-left: 10px;
  margin-right: 10px;

  text-align: center;
  justify-content: space-between;

  background-color: #262626;
  border-radius: 15px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 33px;
}

/* main box with icons */
.box {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  background: #262626;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 50px;
  margin: 20px;
  height: auto;
}

.box p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 72px;
  color: #ffffff;
  background: #262626;
  border-radius: 20px 15px 0px 0px;
}
.box .perks {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-content: center;
  background: #262626;
  padding: 20px;
  border-radius: 100px;
}
.perks .sector1 {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-content: center;
  background: #262626;
}
.perks .sector2 {
  display: flex;
  flex-direction: column;
  background: #262626;
  justify-content: center;
}
.sector1 div {
  display: flex;
  flex-direction: row;
  background: #262626;
}
.sector1 img {
  width: 100px;
  height: 100px;
  border-radius: 100px;
  background: #262626;
  margin: 10px;
}
.sector2 img {
  width: 300px;
  height: 300px;
  background: #262626;
  position: relative;
  bottom: 50px;
}
.sector1 p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 48px;
  color: #c4c4c4;
  align-content: center;
  padding-top: 40px;
}
.sector2 .btn {
  background: #fecb03;
  border-radius: 50px;
  padding: 10px;
  margin: 10px;
  align-self: last baseline;
  cursor: pointer;

  justify-content: flex-start;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 35px;
  line-height: 52px;
  /* identical to box height */
  color: #262626;
}
.sector2 .btn:hover {
  background-color: #ffdc4f;
  transform: scale(1.25);
  transition-duration: 0.2s;
}
/* caategory cards and flex */
.category {
  width: 100%;
  height: auto;
  color: rgb(255, 255, 255);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.flex-box {
  width: 30%;
  height: auto;
  background: #1f1f1f;
  border: 3px solid #262626;
  border-radius: 20px;
  margin: 10px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.flex-box h2 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 45px;
  background-color: transparent;
  color: #c4c4c4;
}
.flex-box p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 22px;
  margin-top: 10px;
  background-color: transparent;
  color: rgba(255, 255, 255, 0.8);
}
.flex-box .btn {
  background: #fecb03;
  border-radius: 50px;
  padding: 10px;
  margin: 10px;
  align-self: last baseline;
  cursor: pointer;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 22px;

  color: #262626;
}
.flex-box .btn:hover {
  background-color: #ffdc4f;
  transform: scale(1.25);
  transition-duration: 0.2s;
}
/* footer class */
.footer {
  padding-top: 30px;
  padding-bottom: 30px;
  display: flex;
  justify-content: space-around;

  background: #262626;
  margin: 30px;
  height: auto;
  border-radius: 30px;
  color: rgb(255, 255, 255);
}
.forent {
  padding: 10px;
  width: 45%;
  background-color: #262626;
}
.forent h3 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 72px;
  background-color: #262626;
}
.forent p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  color: rgba(255, 255, 255, 0.8);
  background-color: #262626;
}
.footer h2 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 48px;
  color: #ffffff;
  padding-bottom: 10px;
  background-color: #262626;
}
.footer .navigation {
  background: #262626;
}
.footer .socials {
  background: #262626;
}
.footer .navigation li {
  text-decoration: none;
  list-style-type: none;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 35px;
  background-color: #262626;
}
.footer .navigation a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.8);
  background-color: #262626;
}
.footer .socials li {
  text-decoration: none;
  list-style-type: none;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 35px;
  background-color: #262626;
}
.footer .socials a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.8);
  background-color: #262626;
}
